body {
    margin: 20px 40px;
  }
  
  p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 16px;
  }
  
  /*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
  .wrapper {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
  }
  
  /*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
  .redExample {
    flex: 1;
    background-color: red;
  }
  
  /*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
  .blueExample {
    flex: 1;
    background-color: blue;
  }
  
  /*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
  .emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }
  
  .blueExample2 {
    width: 80px;
    background-color: blue;
  }
  
  /* TODO: Add CSS for the rest of your solution below */
  .headWrapper {
    width: 80px;
    background-color: red;
    
  }

  .footerWrapper {
    /* width: 80px; */
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    /* background-color: blue; */
  }

  .parentWrapper_red {
    display: flex; 
    flex: 1; 
    flex-direction: row-reverse;
    background-color: red; 
  }

  .wrapper_kube, .wrapper_kube2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .kubeWrapper {
    width: 30px;
    height: 40px;
    background-color: red;
  }

  .wrapper_kube2 {
    background-color: red;
  }

  .kubeWrapper2 {
    width: 80px;
    height: 100%;
    background-color: blue;
  }

  .cntWrapper {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .posWrapper {
    position: relative;
  }
  
  .cntWrapper_blue {
  
    flex: 1;
    height: 15px;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    
    background-color: blue;
  
  } 

  .block_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
 
  .headWrapper_yellow {
    width: 10%;
    background-color: orange;
  }

  .block_wrapper2 {
    display: flex;
    justify-content: space-between;
  }  

  .w200 {
    width: 18%;
  }